@use '@angular/material' as mat;

@include mat.core();

// Define a dark theme
$memento-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$violet-palette,
    ),
  )
);

// Define a light theme
$memento-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$chartreuse-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($memento-light-theme);
}

// Tailwind setup
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
